*.gem
*.rbc
.bundle
.config
*.sublime-project
*.sublime-workspace
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.rvmrc
.DS_Store
.idea
# YARD artifacts
.yardoc
_yardoc
doc/
